table,
th,
td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th:first-child,
td:first-child {
  padding-left: 1rem !important;
  padding-right: 0 !important;
}
input[type="button"] {
  cursor: pointer;
  border: none;
  color: #fff;
}
#container {
  overflow-x: scroll;
}
#booksTable {
  margin: 0;
}
#booksTable tr:last-child > td:nth-child(4),
#booksTable tr:last-child > td:nth-child(4) > input[type="text"] {
  width: 5rem;
}
#booksTable #booksTable input[type="text"],
select {
  text-align: center;
  border: solid 1px #ccc;
  width: 5rem;
  padding: 2px 3px;
}
#booksTable input,
#booksTable option,
#booksTable select {
  background: orange;
}
